@import "general"
// @import "canvas/input"

.node {
	@extend #leftContent;
	position: relative;
	display: inline-block;
	margin: 20px;
	height: 100px;
	width: 100px;
	text-align: center;
	line-height: 100px;
}

#rightContent {
	margin-top: 20px;
}

#middleContent {
	content-box();
	margin-top: 45px;
	padding: 30px;
	text-align: center;
}

.slaveId {
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
}