@import "general"
// @import "canvas/input"

.node {
	@extend #leftContent;
	display: inline-block;
	margin: 20px;
	height: 100px;
	width: 100px;
	text-align: center;
	line-height: 100px;
}

#rightContent {
	margin-top: 20px;
}